body {
  background-color: white;
}
button {
  font-family: "Offside";
  width: 250px;
  padding: 8px;
}
#debug {
  background: #303030;
  border-radius: 10px;
  color: white;
  font-family: "Offside";
  font-size: 22px;
  display: none;
  padding: 10px;
  overflow-x: none;
  overflow-y: auto;
  height: 200px;
  word-wrap: break-word;
}
.footer {
  height: 128px;
  color: black;
}
header {
  background-color: #2ba6cb;
  color: white;
  box-shadow: 0px 2px 2px #004080;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: white;
}
h1, h2, h3, h4, h5 {
  color: #2ba6cb;
  font-family: "Offside";
}
h1 {
  font-size: 2.5em;
}
header h1, header h2, header h3, header h4, header h5 {
  color: white;
  font-family: "Offside";
  text-shadow: 0px, 5px, 10px black;
}
#live {
  display: none;
}
canvas {
  padding: 5px;
  border: solid 1px #2ba6cb;
  // background-color: #2ba6cb;
  border-radius: 10px;
  box-shadow: 0px, 5px, 10px black;
}
#canvas2 {
  position: absolute;
  left: 1000px;
}
#model-container {
  position: absolute;
  left: 257px;
}
#saveBtn {
  position: absolute;
  left: 1000px;
  top: 695px;
  width: 130px;
}
#saveUrl {
  position: absolute;
  left: 1150px;
  top: 710px;
}
#saveUrl > a:nth-child(1) {
  font-size: 1.3em;
}
#qrcode img {
  width: 220px;
  margin: 10px;
}
#debugBtn {
  position: absolute;
  left: 1000px;
  top: 770px;
  width: 130px;
}
#sprites {
  display: none;
}
#results {
  margin-left: 17px;
}
#results > div {
  clear: both;
  padding-bottom: 50px;
}
.scale {
  position: relative;
  margin: 13px;
  border-radius: 20px;
  height: 24px;
  width: 190px;
  background: #ff3232;
  background: -moz-linear-gradient(left,  #ff3232 0%, #edf72e 50%, #2aff00 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(50%,#edf72e), color-stop(100%,#2aff00));
  background: -webkit-linear-gradient(left,  #ff3232 0%,#edf72e 50%,#2aff00 100%);
  background: -o-linear-gradient(left,  #ff3232 0%,#edf72e 50%,#2aff00 100%);
  background: -ms-linear-gradient(left,  #ff3232 0%,#edf72e 50%,#2aff00 100%);
  background: linear-gradient(to right,  #ff3232 0%,#edf72e 50%,#2aff00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#2aff00',GradientType=0 );
}
#pollution .scale {
  background: #b1f9f7;
  background: -moz-linear-gradient(left,  #b1f9f7 0%, #324f3a 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b1f9f7), color-stop(100%,#324f3a));
  background: -webkit-linear-gradient(left,  #b1f9f7 0%,#324f3a 100%);
  background: -o-linear-gradient(left,  #b1f9f7 0%,#324f3a 100%);
  background: -ms-linear-gradient(left,  #b1f9f7 0%,#324f3a 100%);
  background: linear-gradient(to right,  #b1f9f7 0%,#324f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1f9f7', endColorstr='#324f3a',GradientType=1 );
}
.scale .cover {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.85;
}
.scale .arrow {
  position: absolute;
  left: 1px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 24px solid #336D67;
  border-radius: 16px;
}
.needs, #generated, #pollution {
  width: 221px;
}
.town-needs {
  clear: both;
  margin-bottom: 45px;
}
#controls {
  position: absolute;
  left: 990px;
  width: 200px;
}
#controls img {
  height: 65px;
}
#add-village-btn img {
  margin-right: 17px;
  margin-left: -22px;
}
#add-coalplant-btn img {
  margin-right: 12px;
}